body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/static/aboutusimg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.about-content {
    flex: 1;
}

.team-section {
    text-align: center;
}

.team-member {
    display: inline-block;
    margin: 20px;
}

.team-member img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
